<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<body>
    <main layout:fragment="content">
        <h1>Gestione Utenti</h1>
         <p>Elenco di tutti gli utenti registrati nel sistema.</p>
         
            <div class="table-responsive-wrapper">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Ruolo</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="utente : ${utenti}">
                    <td data-label="Utente"   th:text="${utente.id}"></td>
                    <td data-label="Nome"   th:text="${utente.nome}"></td>
                    <td data-label="Email"  th:text="${utente.email}"></td>
                    <td data-label="Ruolo"  th:text="${utente.ruolo}"></td>
                </tr>
            </tbody>
        </table>
        </div>
    </main>
</body>
</html>